@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*, *::after, *::before {
  box-sizing: border-box;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.top--box {
  /* background-color: #575454; */
  color: #4E4F4A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 700;
  min-height: 400px;
  padding-top: 20px;
}

main {
  background-color: #F6E9DC;
  box-shadow: 0px 0px 0px 2px #575454, 10px 10px 20px 10px rgba(78, 79, 74, 0.5);
  flex-basis: 600px;
}

.calendar {
  display: table;
  table-layout: fixed;
  border: 2px solid black;
  width: 100%;
}

.calendar__day__header,
.calendar__day__cell {
  border: 2px solid #575454;
  text-align: center;
  width: 100%/7;
  vertical-align: middle;
}
.calendar__day__header:first-child,
.calendar__day__cell:first-child {
  border-left: none;
}
.calendar__day__header:last-child,
.calendar__day__cell:last-child {
  border-right: none;
}

.calendar__day__header,
.calendar__day__cell {
  padding: 0.75rem 0 1.5rem;
}

.calendar__banner--month {
  border: 2px solid #575454;
  /* border-bottom: none; */
  text-align: center;
  padding: 0.75rem;
}
.calendar__banner--month h1 {
  background-color: #4E4F4A;
  color: #F6E9DC;
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.calendar__day__header {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 20px;
  position: relative;
}

tr:nth-child(7n+1) > .calendar__day__cell:nth-child(7n+1) {
  color: #e66053;
}

tr:nth-child(7n) > .calendar__day__cell:nth-child(7n) {
  color: #575454;
}

.calendar__day__cell[data-moon-phase] {
  background-color: #e66053;
  color: #4E4F4A;
}
.calendar__day__cell[data-moon-phase]:after {
  content: attr(data-moon-phase);
  color: #F6E9DC;
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

.calendar__day__cell[data-bank-holiday] {
  background-color: #4E4F4A;
  border-color: #4E4F4A;
  border-bottom: none;
  color: #F6E9DC;
}
.calendar__day__cell[data-bank-holiday]:after {
  content: attr(data-bank-holiday);
  color: #F6E9DC;
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}